@use "sass:color";
@use "sass:map";
@use "sass:meta";

@import "styles.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Global variables.
:root {
  // Custom.
  --separator: 1rem;
  --separator-small: calc(var(--separator) * 0.5);
  --separator-big: calc(var(--separator) * 1.5);

  // DaisyUI.
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: unset;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --border-color: map.get($colors, base-300);
  --rounded-box: var(--separator);
  --rounded-btn: var(--separator-small);
  --rounded-badge: var(--separator);
  --tab-border: 1px;
  --tab-radius: var(--separator-small);
  --navbar-padding: var(--separator-big);
}

// Tags.
@layer base {
  hr {
    @apply border-0;
  }

  img {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
  }
}

// Classes.
@layer utilities {
  .break-word {
    @apply break-words;

    word-break: break-word;
  }

  /**
   * Available fonts:
   *   - font-primary (400 weight)
   *     (700 weight, se aplica cuando se utiliza el tag `b`)
   */

  .font-primary {
    @apply font-sans;

    font-family: Poppins;

    b {
      @apply font-bold;
    }
  }

  @counter-style style-li-fire {
    symbols: "🔥";
    system: cyclic;
    suffix: " ";
  }

  .style-li-fire {
    list-style-type: style-li-fire;
  }

  @counter-style style-li-castle {
    symbols: "🏰";
    system: cyclic;
    suffix: " ";
  }

  .style-li-castle {
    list-style-type: style-li-castle;
  }

  @counter-style style-li-shield {
    symbols: "🛡️";
    system: cyclic;
    suffix: " ";
  }

  .style-li-shield {
    list-style-type: style-li-shield;
  }

  .style-li-fire,
  .style-li-castle,
  .style-li-shield {
    @apply pl-4;
  }

  .style-shadow {
    box-shadow: 0 1px 5px 0 map.get($colors, primary);
  }

  .style-background {
    @apply bg-no-repeat;

    background: url("/images/background.jpg") 50%;
    background-image: linear-gradient(270deg, transparent, #000000), url("/images/background.jpg");

    @apply bg-contain;
  }

  .style-scroll {
    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.25rem;
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
      background-color: map.get($colors, secondary);
      &:hover {
        background-color: color.scale(map.get($colors, secondary), $lightness: 5%);
      }
      &:active {
        background-color: color.scale(map.get($colors, secondary), $lightness: -5%);
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: map.get($colors, primary-focus);

      &:hover {
        box-shadow: 0 0 0.125rem 1px rgb(0 0 0 / 20%);
        background-color: color.scale(map.get($colors, primary), $lightness: -5%);
      }

      &:active {
        background-color: color.scale(map.get($colors, primary), $lightness: -10%);
      }
    }

    &.style-scroll-top {
      &::-webkit-scrollbar-thumb {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.style-scroll-bottom {
      &::-webkit-scrollbar-thumb {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
