@use "sass:color";
@use "sass:map";
@use "sass:meta";

@import "style.js"

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Custom.
  --separator: 1rem;
  --separator-small: calc(var(--separator) * 0.5);
  --separator-big: calc(var(--separator) * 1.5);
  --separator-big-double: calc(var(--separator-big) * 2);

  // DaisyUI.
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: unset;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --border-color: var(--colors-base-300);
  --rounded-box: var(--separator);
  --rounded-btn: var(--separator-small);
  --rounded-badge: var(--separator);
  --tab-border: 1px;
  --tab-radius: var(--separator-small);
  --navbar-padding: var(--separator-big);
}

@layer base {
  html {
    background-color: --black;
    color: --primary;
  }

  hr {
    @apply border-0;
  }

  img {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
  }

}

@layer utilities {

  /**
   * Available fonts:
   *   - font-primary (400 weight)
   *   - font-primary-bold (700 weight)
   *   - font-secondary (400 weight)
   */

   .font-primary {
      @apply font-sans;
      font-family: Poppins;

      &-bold {
        @apply font-bold;
      }

  }

}
